.header-color, .landing-grid, .cards {
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  text-align: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  top:3em;
  display: block;
  padding-bottom: 10px;
}

.avatar-img {
  height: 200px;
  padding-top: 2em;
  padding-bottom: 1em;
  border-radius: 25%;
  justify-content: 'center';
  margin-bottom: 0px;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 80%;
  margin-top: 0px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: 'center';
}

.banner-text hr {
  border-top:5px dotted white;
  width: 50%;
  margin: auto; 
  justify-content: 'center';
}


.banner-text p {
  color: white;
  font-size: 1.7em;
  padding-top: 10px;
}

.category-tab {
  border: 3px solid black;
}

.soc-links i {
   color: white; 
   padding: 0px 20px  4px 20px;
   margin: auto;
   font-size:2em;
}

.cards {
  text-align: center;
  padding-top: 10px;
}

.cardstext {
  text-align: center;
  margin:auto;
}

.contact-body {
  margin:auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  font-family: fantasy;
}

.contact-grid {
  font-family: fantasy;
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 500px;
  background:white;
  color: black;
  margin-bottom:20px;
  display: flex;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin:auto;

}

.contact-list i {
  font-size: 45px;
  justify-content: center;
}

.demo-big-content {
  justify-content: flex-end;
}

.resume-left {
  font-family: fantasy;
  justify-content: center;
  text-align: center;
}


.resume-left hr {
  margin:auto;
}

.resume-rigth {
  background-color: #8bc6d0;
  color:black;
}

.resume-rigth h3 {
  margin-top: 0px;
  margin-bottom:0px;
  border: 3px solid black;
}